[Unit]
Description=multiplayer game
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/azureuser/multiplayer-game-gcse/app.py
WorkingDirectory=/home/azureuser/multiplayer-game-gcse
[Install]
WantedBy=multi-user.target