<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    {% if user_code %}
    <ol>
      <li>To sign in, type <b>{{ user_code }}</b> into
        <a href='{{ auth_uri }}' target=_blank>{{ auth_uri }}</a>
        to authenticate.
      </li>
      <li>And then <a href="{{ url_for('auth_response') }}">proceed</a>.</li>
    </ol>
    {% else %}
    <a href='{{ auth_uri }}'>Sign In</a>
    {% endif %}
    Due to (surprisingly) high popularity, this is not available between 8:30 and 12:15 or between 13:00 and  16:15.
    Also, this is the multiplayer game you expect, the sign-in page just is very simplistic
</body>
</html>