<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {text-align: center;}
    h1 {font-size: 50px;}
    p {font-size: 20px;}
  </style>
</head>
<body>
  <h1>Multiplayer-game-gcse</h1>
    {% if user_code %}
    <ol>
      <li>To sign in, type <b>{{ user_code }}</b> into
        <a href='{{ auth_uri }}' target=_blank>{{ auth_uri }}</a>
        to authenticate.
      </li>
      <li>And then <a href="{{ url_for('auth_response') }}">proceed</a>.</li>
    </ol>
    {% else %}
    <br/><a href='{{ auth_uri }}'><img src='static/items-images/other/ms-signin.png' width='350px'/></a><br/></br/>
    {% endif %}
    <p>
    Due to (surprisingly) high popularity, this is not available between 8:30 and 12:15 or between 13:00 and  16:15.<br/>
    Also, this is the multiplayer game you expect, the sign-in page just is very simplistic</p>
  </body>
</body>
</html>