<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplayer-game-gcse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='why.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
</head>
<body>
    <table>
        <tr>
            <td>
                <canvas id="gameCanvas" width="800" height="800" style="border:1px solid #000;"></canvas>
            </td>
            <td>
                <canvas id="infoCanvas" width="300" height="800" style="border:1px solid #000;"></canvas>
            </td>
            <td class="form-td">
                <ul id="messages"></ul>
                    <form id="form" action="">
                        <input id="input" autocomplete="off" onfocus="setInputFocus(true)" onblur="setInputFocus(false)" />
                    </form>

            </td>
        </tr>
        <tr>
            <td>
                Press WASD to move, E to interact, Space to attack
            </td>
        </tr>
    </table>
<script src="static/game.js"></script>
</body>
</html>
